* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    scroll-behavior: smooth;
}

.hero {
    background-color: #1f2937;
    display: flexbox;
    justify-content: space-between;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    justify-content: flex;
    align-items: center;
    padding: 20px 50px;
    margin: 0 auto;
}

#header-logo {
    color: #f9faf8;
    float: left;
    margin-left: 0;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    right: 10%;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
}

#hero-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    padding: 25px;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 15%;
    height: 60px;
    width: 150px;
    margin: 50px;
}

#hero-image {
    display: inline;
    justify-content: right;
    max-height: 600px;
    max-width: 800px;
    margin: auto;
    padding: 25px;
}

.gallery {
    background-color: #fff;
    display: block;
    width: 100%;
}

.gallery h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex-direction: column;
    flex: 1;
}

.col .img{
    flex-direction: column;
    flex: 1;
    max-width: 360px;
}

.gallery img {
    max-width: 360px;
    max-height: 720px;
    justify-content: space-around;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quote h3 {
    position: relative;
    left: 25%;
}