.hero {
    background-color: #1f2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    text-align: end;
}

li a {
    display: inline-block;
    color: #e5e7eb;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}
