.hero {
    background-color: #1f2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #e5e7eb;
}